$hundredPercent: 100%;
$ninetyPercent: 90%;

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $hundredPercent;
}

.contact-info__image-wrapper {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.contact-info__image {
  display: inline-block;
  height: $hundredPercent;
  width: $hundredPercent;
  border-radius: 50%;
  box-sizing: border-box;
}

.contact-info__details {
  font-size: 14px;
  width: $ninetyPercent;
}

.contact-info__name {
  color: #99a1b3;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info__column {
  margin-bottom: 10px;
}
