$primaryColour: #0069ff;
$hundredPercent: 100%;
$ninetyPercent: 90%;

.tab-menu {
  align-items: center;
  background-color: #f4f8fc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: $hundredPercent;
}

.tab-menu__title {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.tab-menu__container {
  background-color: #ffffff;
  width: 850px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(153, 161, 179, 0.3);
}

.tab__content {
  height: 400px;
}

.tab-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.tab-list-item--active {
  color: $primaryColour;
  font-weight: 900;
}

.tab-list-item--disabled {
  pointer-events: none;
  color: #99a1b3;
}

@media screen and (max-width: 849px) {
  .tab-menu {
    display: block;
    height: $hundredPercent;
  }

  .tab-menu__list {
    height: $hundredPercent;
    overflow-y: scroll;
    display: block;
    padding: 0 10px;
  }

  .tab-menu__container {
    height: $ninetyPercent;
    width: $hundredPercent;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .tab-menu__title {
    text-align: left;
    margin-left: 20px;
  }

  .tab__content {
    height: $hundredPercent;
    width: $hundredPercent;
  }

  .contact-list__row {
    height: $hundredPercent;
    width: $hundredPercent;
    overflow-y: auto;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .tab-menu {
    height: $ninetyPercent !important;
  }
}
