@import url("https://fonts.googleapis.com/css?family=Lato:weight@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  box-sizing: border-box;
}

*:before,
*:after {
  clear: both;
  box-sizing: border-box;
}

html,
body,
#app,
.app-wrapper,
.tabs-wrapper {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #022B69;
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
